.navb {
  background-color: #282c34;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  height: 5%;
  color: white;
  font-size: 1.4rem;
}
.nav-left {
  position: absolute;
  text-align: left;
}
.nav-right {
  text-align: right;
}
.nav-center {
  text-align: center;
  display: block;
  justify-content: center;
  margin-top: -30px;
}
